@import "tailwindcss";
@plugin "@iconify/tailwind4";
@keyframes marquee {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-50%); }
    }

* {
    font-family: "Karla", sans-serif;
}

.container {
    height: 100%;
    margin: 0 auto !important;
}

.bg-green-gradient {
    background: linear-gradient(180deg, #09C44E 0%, #045E25 100%);
}

.bg-blue-gradient {
    background: linear-gradient(90deg, #0070E4 0%, #01458B 100%);
}

.text-green-gradient {
    background: linear-gradient(180deg, #09C44E 0%, #045E25 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-blue-gradient {
    background: linear-gradient(90deg, #0064CB 0%, #003265 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq-item {
        border-bottom: 1px solid #e5e7eb; /* gray-200 */
        padding-bottom: 1rem; /* pb-4 */
    }
    .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    .faq-item.active .faq-answer {
        max-height: 200px; /* Adjust if your content is taller */
    }
    .faq-icon-minus {
        display: none;
    }
    .faq-item.active .faq-icon-minus {
        display: block;
    }
    .faq-item.active .faq-icon-plus {
        display: none;
    }

@media (max-width: 576px) {
    .container {
        padding: 0 25px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 740px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}